.control-button {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.radio-button {
    margin: 8px;
}

.radio-group {
    display: inline-flex;
    flex-direction: row;
}

.radio-group-column {
    display: inline-flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container-check {
    display: flex;
    flex-direction: column;
}

.form-container > * {
    width: 100%;
}

.error-message {
    padding-left: 9px;
}

.grid-test-1 ::ng-deep figure {
    align-items: flex-start !important;
}


.subquestion {
  font-size: 12px;
  font-weight: bold;
}

.mat-slider-horizontal {
  width: 300px;
}

.slider-paddings {
  padding-left: 9px;
  padding-bottom: 5px;
}
