/* You can add global styles to this file, and also import other style files */

@import "~font-awesome/css/font-awesome.css";

html,
body {
  height: calc(100% - 10px);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f7f7f7;
}
