<h1 mat-dialog-title>Zusammenfassung</h1>
<i class="fa fa-bullseye" aria-hidden="true" style="color: #00841a"></i> Zweck&emsp;
<i class="fa fa-id-card-o" aria-hidden="true" style="color: #ff0000"></i> Daten&emsp;
<i class="fa fa-archive" aria-hidden="true" style="color: #c633f7"></i> Speichern&emsp;
<i class="fa fa-retweet" aria-hidden="true" style="color: #ff9232"></i> Datenverarbeitung&emsp;
<i class="fa fa-share-alt" aria-hidden="true" style="color: #000000"></i> Datenweitergabe
<div mat-dialog-content>
    <svg id="chart" width="900" height="400"></svg>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button [mat-dialog-close]="true">Schliessen</button>
</div>
